[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "~=0.7.0"
requests = "~=2.28.2"
rich = "==13.3.1"
shell-gpt = {path = "."}
toml = "*"

[scripts]
sgpt = "python3 sgpt.py"

[dev-packages]

[requires]
python_version = "3.11"
